# Fichier de configuration contenant les clés secrètes
config.py

# Fichiers de cache Python
__pycache__/
*.pyc

# Fichiers de base de données (ne jamais stocker les données sur Git)
*.db
*.db.bak

# Dossier d'instance de Flask
instance/
